{% extends 'base.html' %} {% block content %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <span class="login100-form-title p-b-51"> Upload new File </span>
      <form
        class="login100-form validate-form flex-sb flex-w"
        action=""
        method="POST"
        enctype="multipart/form-data"
      >
        <p>
          <input
            class="input100 p-b-51"
            type="file"
            name="file[]"
            multiple=""
          />
          <div class="flex-sb-m w-full p-t-3 p-b-24">
            <div>
              <a href="{{ url_for('home')}}" class="txt1"> Back </a>
            </div>
          </div>
          <input type="submit" value="upload" class="login100-form-btn" />
        </p>
        
      </form>
      {% for r in result %}
      <p class="login50-form-title">{{ r.filename }} - {{ r.success }}</p>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
