{% extends 'base.html' %} {% block content %}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <span class="login100-form-title p-b-51"> Upload new File </span>
      <form
        class="login100-form validate-form flex-sb flex-w"
        action=""
        method="POST"
        enctype="multipart/form-data"
      >
        <p>
          <input
            class="input100 p-b-51"
            type="file"
            name="file[]"
            multiple=""
          />
          <input type="submit" value="upload" class="login100-form-btn" />
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
